@use '/src/styles/utils/mixin' as mix;
@use '/src/styles/utils/variable' as var;

.header {
    position: fixed;
    z-index: 99;
    box-sizing: border-box;
    width: 100%;
    height: 75px;
    padding: 20px;
    background-color: var.$white;
    border-bottom: 3px solid var.$main-blue;

    .header_wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: auto;
        margin-left: auto;
    }

    .header_logo {
        color: var.$black;
    }

    .header_logo_link {
        font-size: 16px;
    }

    .header_list {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1000;
        display: block;
        width: 100%;
        height: 100vh;
        color: var.$white;
        text-align: center;
        background-color: var.$main-gray;
        transition: 0.5s transform;
        transform: translateX(100%);

        &.is_active {
            transform: translateX(0);
        }
    }

    .header_nav {
        margin-top: 77px;
    }

    .header_navItem {
        &:not(:first-child) {
            margin-top: 10px;
        }
    }

    .header_navItemLink {
        display: inline-block;
        padding: 15px;
        font-weight: bold;
        color: var.$black;
    }

    .header_navItemLink_gossip {
        color: var.$white;
        background-color: var.$main-gray;
        border-radius: 4px;
    }
}

.burger {
    z-index: 1000;

    .burger_line {
        display: block;
        width: 30px;
        height: 2px;
        background-color: var.$main-blue;
        border-radius: 1.5px;
        opacity: 1;
        transition: 0.4s all;
        transform: rotate(0) translateY(0);

        &:not(:last-child) {
            margin-bottom: 8px;
        }
    }

    &.is_active {
        .burger_line {
            background-color: var.$white;

            &:nth-child(1) {
                transform: rotate(135deg) translateX(7px) translateY(-7px);
            }

            &:nth-child(2) {
                opacity: 0;
            }

            &:nth-child(3) {
                transform: rotate(-135deg) translateX(7px) translateY(7px);
            }
        }
    }
}